Repository al-one/hass-xiaomi-miot, pull requests merged in 2022-02, with the labels that each got.

#419 Dreame mc1808: Fix incorrect spec property set to notify only when it supports read
  custom_components/xiaomi_miot/core/device_customizes.py
Labels: device: vacuum

#435 add viomi.waterheater.u8 philips.light.moonlight as new extend_miot_specs
  custom_components/xiaomi_miot/core/miio2miot_specs.py
  custom_components/xiaomi_miot/core/miot_specs_extend.json
Labels: miio2miot

#448 add viomi.waterheater.u12
  custom_components/xiaomi_miot/core/miio2miot_specs.py
  custom_components/xiaomi_miot/core/miot_specs_extend.json
Labels: device: water-heater, miio2miot
