Repository al-one/hass-xiaomi-miot, pull requests merged in 2023-01, with the labels that each got.

#981 more entities for ijai.vacuum.v1
  custom_components/xiaomi_miot/core/device_customizes.py
  custom_components/xiaomi_miot/core/translation_languages.py
Labels: device: vacuum, translation

#983 better suittc.airrtc.wk168 support
  custom_components/xiaomi_miot/climate.py
  custom_components/xiaomi_miot/core/miot_specs_extend.json
Labels: device: thermostat

#986 Fix Airer.dryer switch for lumi.airer.acn01 in LAN mode
  custom_components/xiaomi_miot/core/miio2miot_specs.py
Labels: device: airer

#988 支持: gosund | 电小酷 CP1
  custom_components/xiaomi_miot/core/device_customizes.py
Labels: device: outlet

#1005 improve ijai.vacuum.v1
  custom_components/xiaomi_miot/core/device_customizes.py
  custom_components/xiaomi_miot/core/translation_languages.py
Labels: device: vacuum

#963 more entities for viomi.v18
  custom_components/xiaomi_miot/core/device_customizes.py
  custom_components/xiaomi_miot/core/miot_specs_extend.json
  custom_components/xiaomi_miot/core/translation_languages.py
Labels: device: vacuum, translation
