Repository al-one/hass-xiaomi-miot, pull requests merged in 2023-08, with the labels that each got.

#1272 fix energy for qmi.plug.tw02
  custom_components/xiaomi_miot/core/device_customizes.py
  custom_components/xiaomi_miot/core/miot_local_devices.py
Labels: enhancement, device: outlet

#1273 add temperature sensor for qmi.plug.2a1c1
  custom_components/xiaomi_miot/core/device_customizes.py
Labels: device: outlet

#1276 Fix brightness reading in nightlight mode
  custom_components/xiaomi_miot/core/miio2miot_specs.py
Labels: device: light

#1278 add light mode for yeelink.bhf_light.v1/v2
  custom_components/xiaomi_miot/core/miio2miot_specs.py
  custom_components/xiaomi_miot/core/miot_specs_extend.json
Labels: device: bath-heater, miio2miot
