Repository al-one/hass-xiaomi-miot, pull requests merged in 2024-01, with the labels that each got.

#1464 Fix qmi.plug.psv3 energy and NameError bugs; translations update
  custom_components/xiaomi_miot/core/device_customizes.py
  custom_components/xiaomi_miot/core/translation_languages.py
Labels: device: outlet, translation

#1445 Chinese translation for water_heater.mode
  custom_components/xiaomi_miot/core/translation_languages.py
Labels: translation

#1433 add miio2miot for yunmi.plmachine.mg2
  custom_components/xiaomi_miot/core/miio2miot_specs.py
Labels: miio2miot
