Repository al-one/hass-xiaomi-miot, pull requests merged in 2024-07, with the labels that each got.

#1748 add energy for cuco.plug.wp12
  custom_components/xiaomi_miot/core/device_customizes.py
Labels: device: outlet

#1726 Fix fan speed setting for NWT 18L Dehumidifier
  custom_components/xiaomi_miot/core/miio2miot_specs.py
Labels: device: dehumidifier

#1709 improve for dmaker.fan.p28
  custom_components/xiaomi_miot/core/device_customizes.py
Labels: device: fan

#1755 Add dishwasher message translation
  custom_components/xiaomi_miot/core/translation_languages.py
Labels: translation
