Repository al-one/hass-xiaomi-miot, pull requests merged in 2024-08, with the labels that each got.

#1784 add energy for cuco.acpartner.cp6
  custom_components/xiaomi_miot/core/device_customizes.py
Labels: device: outlet

#1791 Updated list of "cleaning" vacuum statuses to support new vacuum models
  custom_components/xiaomi_miot/vacuum.py
Labels: device: vacuum

#1812 improve for zhimi.fan.fb1
  custom_components/xiaomi_miot/core/device_customizes.py
Labels: device: fan

#1831 fix energy for iot.plug.jdls1
  custom_components/xiaomi_miot/core/device_customizes.py
Labels: device: outlet
