Repository al-one/hass-xiaomi-miot, pull requests merged in 2024-03, with the labels that each got.

#1568 Add support for midjd8.washer.44
  custom_components/xiaomi_miot/core/device_customizes.py
  custom_components/xiaomi_miot/core/miot_spec.py
  custom_components/xiaomi_miot/core/miot_specs_extend.json
  custom_components/xiaomi_miot/core/translation_languages.py
Labels: device: washer

#1569 Update translation_languages.py
  custom_components/xiaomi_miot/core/translation_languages.py
Labels: translation

#1596 Improve viomi.fridge.m1
  custom_components/xiaomi_miot/core/device_customizes.py
  custom_components/xiaomi_miot/core/miio2miot_specs.py
  custom_components/xiaomi_miot/core/miot_specs_extend.json
Labels: miio2miot
